.admin-grid-container{
    display: grid; 
    gap: 70px;
    padding: 50px; 
    min-height: 450px;
    max-width:100%;
    grid-template-columns: repeat(3, minmax(250px, 1fr)); 
      
}

.admin-grid-container > div {

    box-shadow:0.2px 1px 2px grey;
    border:0.01px solid grey;
    border-radius: 25px;
    padding:10px;
    background-color: ghostwhite;
    height:250px;
    
}

.admin-grid-container > div:hover {

    border:1px solid black;
    box-shadow:2px 2px 4px grey;
    cursor:pointer;
    
}

.admin-grid-container h2{
    
    width:fit-content;
    position:relative;
    left:90px; 
    background-color:bisque;
    border-radius: 50px;
}

#arrow{

    position:relative;
    left:40px;
    bottom:-70px;
    font-size: 25px;
}

#symbol{

    position:relative;
    left:-110px;
    top: 45px;
    font-size: 25px; 

}


/* .order-grid-container .addtocartbtn {
    width:90%;
    height:50px;
    background-color: aqua;
    margin:10px;
    color:black;
    border-radius: 15px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    cursor:pointer;
}

.notaddtocartbtn{

    width:90%;
    height:50px;
    background-color: white;
    margin:10px;
    color:black;
    border-radius: 15px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.plusbtn{
    float:right;
}

.minusbtn{
    float:left;
} */

/* .admin-grid-container img{
    width:50%;
    height: 100px;
} */

/* #cartresponse{
    height: 10px;
    text-align: center;
    color:green;
   

} */

.admin-grid-container span{

  position:relative;
  left:-50px;
  bottom:-70px;
     
}
