
.form-inner-div{
    display:block;
    margin:auto;
    width:400px;
    height:600px;
    box-shadow:10px 10px 5px grey;
    border-radius:5px;
    background-color:white;
    margin-top:50px;
    margin-bottom:30px;
    padding:15px;
}

.form-header{
    text-align:center;
    color:#3498db;
    margin-bottom:50px;
    margin-top:-10px;
    
    
    
}

.form-text{
    text-align:center;
    margin-left:30px;
    width:90%;
    color:white;
    background-color:black;
    height:40px;
    border-radius:10px;
    margin-bottom:10px;
    font-size:20px;
    
}

.form-label{
    display:block;
    color:#3498db;
    margin-left:20px;
    margin-bottom:-5px;
    font-size:20px;
}

.butt{
    background-color:#3498db;
    color:white;
    font-size:20px;
    cursor:pointer;
    margin-top:20px;
    height:50px;
    
}

.butt:hover{
    background-color: #2980b9;
}

.form-link{
    display:block;
    text-align:center;
    text-decoration:none;
    font-size:18px;
    font-size:20px;
    margin-top:30px;

}

.form-link:hover{
    text-decoration:underline;
   
    
}

body{
    font-family:arial, sans-serif;
    
}

.select{
    cursor:pointer;
}

.forget_pass{

    margin-left:20px;
    text-decoration:none;

}

.forget_pass:hover{
    
    text-decoration:underline;

}

.auth-page{
    padding-bottom: 1px;
    padding-top: 1px;
    background-image: url("/public/cartbg.png");
    background-repeat: no-repeat;
    background-size: cover;
}