.left-container{
    width: 50%;
    height: auto;
    
}

.left-container > p{
    
    margin-left:20px;
}

.left-container > h2{
    
    margin-left:60px;
}


.cartdesc{

  position: relative;
  left:0px;
  bottom:30px;
}

.table-content img{
    object-fit: contain;
    width:100px;
    height:100px;
}

.table-content td{

    vertical-align: middle;

}

.table-content button{

    display: inline;

}

.table-content button{
    width:30px;
    height:25px;
}

.table-content h3,p{
    display:inline-block;
    margin:20px;
}

.cart-items{

    display: flex;
    flex-direction: column;
    margin-left: 50px;
    height: 500px;
    width: 550px;
    overflow-y: auto;
    border:#ccc solid 1px;
    box-shadow: 2px 2px 5px #ccc;
    
  
}

.right-container{

    position: absolute;
    float:right;
    margin-left:680px;
    width: 49%;
    height: auto;
    margin-top:-500px;
    padding-top: 30px;
    clear: left;
    box-shadow: 2px 2px 5px #ccc;
    border:#ccc solid 1px;
    
}

.right-container table{

    margin:auto;
    
}

.right-container p{
    display:inline-block;
    margin-left:70px;
    
}

.grandtotal{

  float: right;
  margin-right: 80px;
  margin-bottom: 20px;
  font-weight: bold;
}

.itemscount{

  font-weight: bold;
  position:absolute;
  left:30px;

}

.container{

    width: 100%;
    min-height: 1000px;
    
}

.right-container button{
    
    text-align: center;
    width:300px;
    height:60px;
    margin-left:150px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    font-size: 20px;
    background-color: black;
    color: white;
  

}

.right-container button:hover{
    
    cursor:pointer;
    box-shadow: gray 12px 15px 20px;  
    border:#fff;
    
}

.right-container>h2{
    
    margin-left:50px;
    margin-top: 10px;
    
 } 

 .nocart{

  margin:auto;
  
 }

.nocart>h1{

  margin:auto;
  position:absolute;
  left:40%;
  top:50%;

}

.product-card {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #fff;
    width: 500px;
    min-height: 140px;
    margin:10px;
    
  }
  
  .cartproduct-image {

    width: 100px;
    object-fit: contain;
    border-radius: 8px;
    position:relative;
    top:-10px;
    border-radius: 8px;

    
  }

  .cartproduct-image>img{

    width:100px;
    height:100px;
    
  }
  
  .product-details {
     flex-grow: 1; 
    margin-left:-30px;
    
  }

  
  .product-prices {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .current-price {
    font-size: 16px;
    font-weight: bold;
    color: #000;
    position:relative;
    top:40px;
    left:-130px;
    

  }
  
  .quantity-control {
    position:relative;
    border:1px solid #ddd;
    right:-280px;
    bottom:40px;
    display: flex;
    width:68px;
    align-items: center;
    gap: 8px;

  }
  
  .quantity-btn {
    background-color: #f0f0f0;
    border: 0.5px solid #ccc;
    padding: 7px;
  }
  
  .quantity-btn:hover {
    background-color: #ddd;
  }
  
  .quantity-input {

    text-align: center;
    border: none;
  }

  .cartitemname{

    position:relative;
    left:-75px;
    top:65px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
  }
  