.modal{

    border:1px solid grey;
    width:50%;
    height:auto;
    position: absolute;
    top: 15%;
    left: 20%;
    opacity: 1;
    background-color: aliceblue;
    padding:3%;

}
.modaldiv{

    margin:auto;
    box-shadow:0.2px 1px 2px grey;
    /* border:1px solid grey;  */
    width:fit-content;
    height:fit-content;

}

.modalheading{

    text-align: center;
}

.modal-form{

    width:auto;
    height:auto;

}

.modal-form-label{

    width: 400px;
    height:40px;
    margin:20px;
    
}

.modal-form-input{
     
    width:400px;
    height:40px;
    margin: 20px;
    font-size: larger;
    
    
}

.modal-form-butt{

    width:200px;
    height:40px;
    margin: 20px;
    margin-left:60px;
    cursor: pointer;
    background-color: green;
    color: white;
    font-size:medium;

}

.cancelbutt{

    background-color: red;


}

.modifyimage{

    width:200px;
    height: 200px;
    object-fit: contain;
    position:absolute;
    right:100px;
    top:100px;
    border:1px solid gray;
}

.addedproductimage{

    width:200px;
    height: 200px;
    object-fit: contain;
    position:absolute;
    right:20px;
    top:100px;

}

/* .modaldiv{

    background-color: aliceblue;
    position: absolute;
    width:fit-content;
    height:fit-content;

} */