

#logo img{
    width:70px;
    height:60px;
    margin-left:40px;
    margin-top:15px;
}

.header{
    
    background-color: aqua;
    width:100%;
    box-sizing: border-box;
}

.nav{
    background-color: black;
    border:2px black solid;
    
}

.nav li{
    display:inline-block;
    list-style-type: none;
    margin-left: 0px;
    margin-right: 160px;
    
}

.nav-link{
    color:honeydew;
    text-decoration: none;
    
}

.nav-link.active{

    text-decoration: underline 4px red;
    
}

.nav-link:hover{
    
    text-decoration: underline;
    
}

.footer{
    background-color: darkturquoise;
    width:100%;
}

.footer-list li{

    list-style-type: none;
    margin-left:10px;
    margin-top:15px;

}

.footer-list{

    position:relative;
    bottom:20px;
}

.follow-list li{
    list-style-type: none;
    display:inline-block;
    font-size:30px;
    margin-left:50px;
   
}

.footer_container{
  float:right;
  position:relative;
  top:30px;
  right:20px;

}

.footer_container ul{
    display: inline-block;
    justify-items:center ;
    width:fit-content; 
    
}

.followheader{

    position:relative;
    left:1150px;
    top:30px;
}


.footer-list ,.follow-list{
    display:inline-block;
}

.footer-list a{
    text-decoration: none;
    color:black;
}

.follow-list a{
    color:black;
}

.footer-list a:hover{
    text-decoration: underline;
}

.cart-image{
    font-size: 24px;
    color: white ;
    position:absolute;
    right:130px;
    top:28px;
   
}

.profile-image-div {
    position: relative;
    font-size: 17px;
    color: green;
    float: right;
    margin-top: 27px;
    z-index: 1;
    height:40px;  
    margin-right: 50px;
    margin-left: 50px;
    width:30px;
    text-overflow: ellipsis;
    
}

.profile-image {
    font-size: 24px;
    color: green;
    float: right;
    cursor: pointer;
}

.subdiv {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 90px;
    height: auto;
    padding: 10px;
    top: 30px; 
    right:10px;

}

.profile-image-div:hover .subdiv,
.subdiv:hover {
    display: block;
}

.subdiv p {
    margin: 10px;
    cursor: pointer;
}

.username-display::before{

    content:"Hi,";
    float:left;
    
}

.username-display{

    color:rgb(92, 33, 126);
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;

}
.subdiv p:hover {
    background-color: lightgray;
}

.subdiv button {
    
    width:80px;
    height:30px;
    cursor: pointer;
    background-color: aqua;
}
.profile-image-div > p{
    display: inline-block;
    color:darkgray;
    margin-right: -35px;
    margin-top: 30px;
}

.cart-badge{

    border-radius: 100px;
    background-color: red;
    font-size: 15px;
    color: white;
    position: absolute;
    right:125px;
    top:12px;
    width:20px;
    height:20px;
    text-align: center;

}

.copyrightsinfo{

    position: relative;
    left:350px;

}