.profile-form{

    width:fit-content;
    height:auto;
    margin: auto;
    box-shadow:0.2px 1px 2px grey;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-label{

    width: 400px;
    height:40px;
    margin:20px;
}

.profile-input{

    width:400px;
    height:40px;
    margin: 20px;
    font-size: larger;
}

.profile-butt{

    width:200px;
    height:40px;
    margin: 20px;
    margin-left:60px;
    cursor: pointer;
    background-color: lightgreen;
    color: white;
    font-size:medium;
}

.cancelbutt{

    background-color: red;

}

.profile-heading{

    width: fit-content;
    margin: auto;
    font-family:Arial, Helvetica, sans-serif;
   
}

.editbutt{

    position: absolute;
    right:330px; 
    font-size:larger;
}

#editcontroller:hover .hoveredit{

    display: block;
   
}

.hoveredit{

    display:none;
    position: absolute;
    right:290px;
    top:140px;
    width:fit-content;
    height:fit-content;    
    border:1px solid grey;
    background-color:aliceblue;
    border-radius: 2px;
    font-size:medium;


}

#editsymbol{

    position: absolute;
    right:340px;  
}